  <footer class="main-footer">
      <div id="footer"></div>
    <div class="pull-right hidden-xs">
          <b>Versão</b> 1.0.1
    </div>
        <strong>Copyright &copy; 2018 <a href="https://porta.tech" target="_blank">Porta.Tech</a>.</strong> All rights reserved.
  </footer>
