 <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
  
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree" id="menu">
    <li class="header">Menu</li>
    <li class="home target-active">
      <a href="/home">
        <i class="fa fa-home"></i> <span>Home</span>
      </a>
    </li>

    <li id="condominio_editar" class="treeview target-active">
      <a href="#">
        <i class="fa fa-building"></i>
        <span>Condominios</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu" id="sub-menu">
        <li><a href="/criarcond"><i class="fa fa-plus-circle"></i> Criar</a></li>
        <li><a href="/listarcond"><i class="fa fa-edit"></i> Listar</a></li>
      </ul>
    </li>

    <li class="treeview" id="mensagens" id="menu-item">
      <a href="#">
        <i class="fa fa-envelope"></i> <span>Mensagens</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu" id="sub-menu">
        <li><a href="/escrever"><i class="fa fa-pencil"></i> Escrever</a></li>
        <li><a href="/caixaentrada"><i class="fa fa-minus-circle"></i> Caixa de Entrada</a></li>
      </ul>
    </li>
    <li class="treeview" id="relatorio_link" id="menu-item">
      <a href="#">
        <i class="fa fa-file"></i> <span>Relatórios</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul id="relatorio_link" class="treeview-menu" id="sub-menu">
        <li><a href="/relacaousuarios"><i class="fa fa-minus-circle"></i>Relação de usuários (.pdf)</a></li>
        <li><a href="https://condomin-io.herokuapp.com/pdf/usuarios?verify=33383202485bb28e0bcf"><i class="fa fa-minus-circle"></i>Usuários / condomínio (gráfico)</a></li>
      </ul>
    </li>
  </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

  <!-- =============================================== -->
