<div class="wrapper skin-blue">
<app-header></app-header>
<app-menu></app-menu>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
       <section class="content-header">
      <h1>
        <small>Condominio</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Condominio</li>
        <li class="active">Criar</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastro de Condominio</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">

          <form>
            <div class="form-group">
              <label for="condominio">Nome do Condominio:</label>
              <input type="text" class="form-control" id="condominio" placeholder="Digite o nome do Condominio" name="condominio">
            </div>
            <div class="form-group">
              <label for="endereco">Endereço:</label>
              <input type="text" class="form-control" id="endereco" placeholder="Digite o Endereço" name="endereco">
            </div>
            <button type="button" onclick="cadastrarCondominio()" class="btn btn-primary">Cadastrar</button>
          </form>
         
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Sistema de Gerenciamento
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<app-footer></app-footer>
</div>
