<div class="register-page register-box">
  <div class="register-logo">
    <a href="home"><b>Condomin</b>io</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Registrar novo Usuário</p>

    
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="nome" placeholder="Nome Completo" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" id="email" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="senha" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="cpf" placeholder="Digite CPF" name="cpf" id="cpf" required>
        <span class="form-control-feedback"></span>
      </div>
     
                  <div class="row">
        <div class="col-xs-4">
          <button type="button" id="login-submit" class="btn btn-primary btn-block btn-flat"> Registrar</button>
        </div>
        <!-- /.col -->
      </div>
                


              <hr>
              <a href="/login" class="text-center">Pagina de Login</a>
            </div>
            <!-- /.form-box -->
          </div>
          <!-- /.register-box -->
 
           
<div class="container">
 
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Termos de Usuário</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->

          <div class="modal-body">
              <h4>SEÇÃO 1 - O QUE FAREMOS COM ESTA INFORMAÇÃO?</h4>
              <p>Aqui vai alguma coisa</p>

              <h4>SEÇÃO 3 - DIVULGAÇÃO</h4>
              <p>Aqui vai alguma coisa</p>

              <h4>SEÇÃO 4 - SERVIÇOS DE TERCEIROS</h4>
              <p>Aqui vai alguma coisa</p>

              <h4>SEÇÃO 5 - SEGURANÇA</h4>
              <p>Aqui vai alguma coisa</p>
              
              <h4>SEÇÃO 6 - ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h4>
              <p>Aqui vai alguma coisa</p>

            </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>

