<div class="wrapper skin-blue">
<app-header></app-header>
<app-menu></app-menu>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <small>Mensagens</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Apagar</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Caixa de Entrada</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <br>
         
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Condominio</th>
                    <th>Titulo</th>
                    <th>Conteudo</th>
                  </tr>
                </thead>
                <tbody id="tabela_mensagens">
		    <tr>
                        <td>` + mensagem.condominio.nome + `</td>
                        <td>` + mensagem.titulo + `</td>
                        <td>` + mensagem.conteudo + `</td>
                    </tr>
                </tbody>
              </table>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Sistema de Gerenciamento
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<app-footer></app-footer>
</div>
