<div class="hold-transition login-page login-box">
  <div class="login-logo">
    <a href="index.html"><b>Condomin</b>io</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Entre para iniciar sua sessão</p>

<form ng-submit="submitLogin()">
      <div class="form-group has-feedback hold-transition login-page">
        <input type="email" class="form-control" placeholder="Email" 
        id="email" name="email" ng-model="usuariosForm.email">
        
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" 
        id="senha" name="senha" ng-model="usuariosForm.senha">
        
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="button" id="login-submit" class="btn btn-primary btn-block btn-flat"> Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <a href="/registro" class="text-center">Registrar Novo Usuario</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

