 <header class="main-header">
  
      <!-- Logo -->
      <a href="/home" class="logo ajax">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Cond.</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Condomin.</b>io</span>
      </a>
  
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
         <div class="navbar-custom-menu">
            <ul class="nav navbar-nav" id="men">
                          
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">Nome</span>
              </a>
             <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
 		<img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
		<br>
		<span class="hidden-xs">Nome do Usuario</span>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="/login" class="btn btn-default btn-flat"> Sair</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
          </ul>
        </div>
  
      </nav>
    </header>

