<div class="wrapper skin-blue">
<app-header></app-header>
<app-menu></app-menu>

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <small>Mensagens</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="../index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Escrever</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
   
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Envio de Mensagens</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <h5>Enviar Mensagem</h5>
         <br>
         <div class="col-sm-12">
                <div class="form-group">
                  <label for="sel2">Enviar Para: </label>
                   <select class="form-control" name="destinatario" id="destinatario">
			<option value="`+condominio.id+`">`+condominio.nome+`</option>
			<option value="`+condominio.id+`">`+condominio.nome+`</option>
                    </select>
                   <br>
                </div>
            </div>   
            <hr>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="titulo">Titulo:</label>
                    <input type="text" class="form-control" id="titulo">
                </div>
            </div>
            <hr>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comment">Mensagem:</label>
                    <textarea class="form-control" rows="5" id="mensagem"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" onclick="enviarMensagem()" class="btn btn-success">Enviar</button>
            </div>

        </div>
        <br><br>
        <!-- /.box-body -->
        <div class="box-footer">
          Sistema de Gerenciamento
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<app-footer></app-footer>
</div>
